<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 elem">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <a href="#notebook/<%- href %>"><img src="<%- img0%>"></a>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <a href="#notebook/<%- href %>"><strong><div class="name"><%- manufacturer %> <%- model %> (<%- price ? price + " BYN": "no price"%>):</div></strong></a>
        <div class="description"><%- cpu %> <%- modelCPU%> <%- screenResolution%></div>
    </div>
</div>
